<%- include('partials/header'); %>
<main style="margin-bottom: 100px; justify-content: center; display: flex; flex-direction: column; margin-top: -1rem;">
  <h1 class="title"> Pokeon vangen <button onclick="PopupInfo()"><h1><i class="bi bi-patch-question"></i></h1></button></h1>
  <section
    class="flex-container-sengle-item"
    id="flex-container-sengle-item"
    style="position: relative"
  >
    <% if (!pokemonToCatch) { %>
    <article>
      <figure> 
        <h2>????????</h2>
        <img src="/images/Question-mark-yallow.png" />
      </figure>
      <aside class="layer" id="#button" style="flex-direction: column">
        <button onclick="openPopup()" type="submit">kiezen</button>
        <p style="color: white; font-size: 35px">of</p>
        <form action="/setRandomPokemonToCatch" method="post">
          <button type="submit">Random</button>
        </form>
      </aside>
      <button
        type="submit"
        class="pokeball"
        id="pokeball"
        style="
          animation: none;
          -webkit-animation:roll-in-left .6s ease-out both;animation:roll-in-left .6s ease-out both;
          position: absolute;
          bottom: -25%;
          left: 25%;
          background: linear-gradient(
            to bottom,
            rgb(62, 59, 59) 0 80px,
            black 81px 96px,
            white 97px 100%
          );
        "
      ></button>
    </article>
    <% } else { %>
    <article>
      <figure>
        <h2><%= pokemonToCatch.name %></h2>
        <img src="<%= pokemonToCatch.image %>" />
      </figure>
      <aside class="layer-close-button">
        <button style="margin: 15px" onclick="openPopup()" type="submit">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </aside>
      <% if (playerPokemons.find(pokemon => pokemon.id === pokemonToCatch.id)) {
      %>
      <button
        type="submit"
        class="pokeball"
        id="pokeball"
        onclick="openPopupMessage()"
        style="
          animation: none;
          -webkit-animation:bounce-in-top 1.1s both;animation:bounce-in-top 1.1s both;
          position: absolute;
          bottom: -25%;
          left: 25%;
          background: radial-gradient(
              white 16px,
              black 17px 18px,
              white 19px 24px,
              black 25px 32px,
              transparent 33px
            ),
            linear-gradient(
              to bottom,
              green 0 80px,
              black 81px 96px,
              white 97px 100%
            );
        "
      ></button>
      <form action="/catch" method="post">
        <div id="overlay-message" class="overlay">
          <dialog id="popup-message" style="display: block" class="popup">
            <h2>
              Weet je zeker dat je de Pokémon: <%= pokemonToCatch.name %> wilt
              vrij laten ?
            </h2>
            <button
              value="<%= pokemonToCatch.id %>"
              name="targetPokemon"
              style="float: right"
              onclick="closePopup(`message-noPoke`)"
              id="button"
            >
              Bevestig
            </button>
          </dialog>
        </div>
      </form>
      <% } else { %>
      <form action="/catch" method="post">
        <button
          type="submit"
          value="<%= pokemonToCatch.id %>"
          name="targetPokemon"
          class="pokeball"
          id="pokeball"
          style="
            animation: none;
            -webkit-animation:bounce-in-top 1.1s both;animation:bounce-in-top 1.1s both;
            position: absolute;
            bottom: -25%;
            left: 25%;
            background: radial-gradient(
                white 16px,
                black 17px 18px,
                white 19px 24px,
                black 25px 32px,
                transparent 33px
              ),
              linear-gradient(
                to bottom,
                red 0 80px,
                black 81px 96px,
                white 97px 100%
              );
          "
        ></button>
      </form>
      <% } %>
    </article>
    <% } %>
  </section>

  <!-- popup code  -->

  <dialog id="popup" class="popup">
    <h2>Selecteer een Pokémon</h2>
    <input
      type="text"
      id="myInput"
      onkeyup="filterPokemonByName()"
      placeholder="Pokemon zoeken ..."
    />
    <section class="image-container">
      <form
        style="display: flex; flex-wrap: wrap"
        action="/setPokemonToCatch"
        method="post"
      >
        <% for(let pokemon of pokemons) { %>
        <article>
          <figure>
            <button
              style="border: none; background-color: white"
              value="<%= pokemon.id %>"
              type="submit"
              name="setPokemonToCatch"
            >
              <img src="<%= pokemon.image %>" />
            </button>
            <figcaption>
              <p><%= pokemon.name %></p>
            </figcaption>
          </figure>
        </article>
        <% } %>
      </form>
    </section>
    <button onclick="closePopup()" id="button">Close</button>
  </dialog>
  <div id="overlay" class="overlay"></div>

  <% if (message) { %>
  <div
    id="overlay-message-CurrentPokemon"
    style="display: block"
    class="overlay"
  >
    <dialog
      id="popup-message-CurrentPokemon"
      style="display: block"
      class="popup"
    >
      <h2><%= message %></h2>
      <button
        style="float: right"
        onclick="closePopupMessageCurrentPokemon()"
        id="button"
      >
        Close
      </button>
    </dialog>
  </div>
  <% } %> 
  <% if (pokemonCaught) { %>
  <div
    id="overlay-message-CurrentPokemon"
    style="display: block"
    class="overlay"
  >
    <dialog
      id="popup-message-CurrentPokemon"
      style="
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
      "
      class="popup"
    >
      <form action="/pokemonNickname" method="post">
        <h1>Je hebt <%= pokemonToCatch.name %> gevangen!</h1>
        <img
          style="width: 200px; height: 200px"
          src="<%= pokemonToCatch.image %>"
          alt=""
        />
        <h2>
          Geef een bijnaam voor je nieuwe pokémon :
          <input style="width: 200px" type="text" name="pokemonNickname" />
        </h2>
        <button
          style="float: right"
          onclick="closePopupMessageCurrentPokemon()"
          id="button"
          name="pokemonNicknameID"
          value="<%= pokemonToCatch.id %>"
        >
          Bevestig
        </button>
      </form>
    </dialog>
  </div>
  <% } %>

  <div id="popupinfo" class="popup">
    <h2>pokemon vangen</h2>
    <p>
      hier kan je pokemons <strong>vangen</strong>. je kan kiezen tussen zelf de pokemon kiezen die je wilt vangen of een willekeurige
      pokemon vangen die je nog niet hebt. je krijgt <strong>3 kansen</strong> om de pokemon te vangen. als het niet lukt dan ontsnapt de pokemon!
      lukt het je wel dan kan je de pokemon een bijnaam geven als je wilt en dan word hij toegevoegd aan je lijst van gevangen pokemon 
    </p>
    <button  id="button" style="float: right;" onclick="closeinfo()">Close</button>
  </div>
  
  <div id="overlay-message" class="overlay"></div>

</main>
<%- include('partials/footer'); %>