<%- include('partials/header'); %>
<main style="margin-bottom: 100px; justify-content: center">
  <section
    class="flex-container-sengle-item"
    id="flex-container-sengle-item"
    style="position: relative"
  >
    <article>
      <figure>
        <h2>????????</h2>
        <img src="/images/Question-mark-yallow.png" />
      </figure>
      <aside class="layer" id="#button" style="flex-direction: column">
        <button onclick="openPopup()" type="submit">kiezen</button>
        <p style="color: white; font-size: 35px">of</p>
        <button onclick="selectRandomPokemon()" type="submit">Random</button>
      </aside>
      <button
        type="submit"
        class="pokeball"
        id="pokeball"
        style="
          animation: none;
          position: absolute;
          bottom: -25%;
          left: 25%;
          background: linear-gradient(
            to bottom,
            rgb(62, 59, 59) 0 80px,
            black 81px 96px,
            white 97px 100%
          );
        "
      ></button>
    </article>
  </section>

  <!-- popup code  -->

  <dialog id="popup" class="popup">
    <h2>Selecteer een Pokémon</h2>
    <input
      type="text"
      id="myInput"
      onkeyup="filterPokemonByName()"
      placeholder="Pokemon zoeken ..."
    />
    <section class="image-container">
      <% for(let pokemon of pokemons) { %>
      <article>
        <figure>
          <img
            src="<%= pokemon.image %>"
            onclick="selectPokemonSinglePokemonData('<%= pokemon.name %>')"
          />
          <figcaption>
            <p><%= pokemon.name %></p>
          </figcaption>
        </figure>
      </article>
      <% } %>
    </section>
    <button onclick="closePopup()" id="button">Close</button>
  </dialog>
  <div id="overlay" class="overlay"></div>
</main>
<script src="/javascript/catchPokemon.js" defer></script>
<%- include('partials/footer'); %>
