<%- include('partials/header'); %>
<main>
  <section class="compare">
    <article class="compare-item">
      <figure>
        <img src="<%= pokemons[100].image %>" width="200" height="200" />
        <figcaption>
          <h2><%= pokemons[100].name %></h2>
          <p>ID: <%= pokemons[0].id %></p>
          <p>Height: <%= pokemons[100].height %></p>
          <p>Weight: <%= pokemons[100].weight %></p>
          <p>Types: <%= pokemons[100].types.join(', ') %></p>
          <p>Max HP: <%= pokemons[100].maxHP %></p>
        </figcaption>
      </figure>
    </article>
    <article class="compare-item-VS">
      <!-- <button type="submit">Vergelijken</button> -->
      <a href="">
      <img src="/images/Swords-icon.png" style="height: 50%; width: 50%;">
      <p>vechten</p>
    </a>
    </article>
    <article class="compare-item">
      <figure>
        <img src="<%= pokemons[101].image %>" width="200" height="200" />
        <figcaption>
          <h2><%= pokemons[101].name %></h2>
          <p>ID: <%= pokemons[101].id %></p>
          <p>Height: <%= pokemons[101].height %></p>
          <p>Weight: <%= pokemons[101].weight %></p>
          <p>Types: <%= pokemons[101].types.join(', ') %></p>
          <p>Max HP: <%= pokemons[101].maxHP %></p>
        </figcaption>
      </figure>
    </article>
  </section>
  </main>
<%- include('partials/footer'); %>