<%- include('partials/header'); %>
<main style="margin-bottom: 25px; display: flex; flex-direction: column">
  <h1 id="noMarginTop" class="title"> Pokémon Raden <button onclick="PopupInfo()"><h1 id="noMarginTop"><i class="bi bi-patch-question"></i></h1></button></h1>
  <section class="flex-container-sengle-item" id="flex-container-sengle-item-guess" style="position: relative">

    <article>
      <figure>
        <h2>????????</h2>
        <img
          src="<%= randomPokemon.image %>"
          style="filter: brightness(0) saturate(100%); height: 325px"
        />
      </figure>
    </article>
  </section>
  <form id="myForm-guessPoke" action="/guessPokemonResult" method="post">
    <input
      name="myCountry"
      class="input"
      placeholder="Raad Pokémon-naam"
      id="myInput-guessPoke"
      type="text"
      autocomplete="off"
    />
  </form>
  <% if (message) { %>
  <div id="overlay" style="display: block; animation: none;  -webkit-animation: none" class="overlay">
    <dialog id="popup" style="display: block" class="popup" 
    
    >
      <h2><%= message %></h2>
      <button style="float: right" onclick="closePopup()" id="button">
        Close
      </button>
    </dialog>
  </div>
  <% } %> <% if (guessResult) { %>
  <div id="overlay" style="display: block; animation: none; -webkit-animation: none" class="overlay">
    <dialog
      id="popup"
      style="
          display: block;
          text-align: center;
          justify-content: center;
          align-items: center;
          background-image: url('https://img.freepik.com/free-vector/gradient-zoom-effect-background_23-2149751055.jpg?w=996&t=st=1716370631~exp=1716371231~hmac=acf9f25cd3a3c56cc1b5bbd421db511b04e10c915c85b5a529968a674b930991');
          background-size: cover; /* Optioneel: Zorgt ervoor dat de afbeelding de hele achtergrond bedekt */
          background-position: center; /* Optioneel: Centreert de achtergrondafbeelding */
        "
      class="popup"
    >
      <form action="/guessPokemon" method="get">
        <h1>Incorrect antwoord</h1>
        <img
          style="width: 200px; height: 200px; filter: grayscale(100%)"
          src="<%= randomPokemon.image %>"
          alt=""
        />
        <h2> Het juiste antwoord was <%= randomPokemon.name %>!</h2>
        <button style="float: right" id="button">sluiten</button>
      </form>
    </dialog>
  </div>
  <% } %> <% if (guessResult == randomPokemon) { %>
  <div id="overlay" style="display: block; animation: none;  -webkit-animation: none" class="overlay">
    <dialog
      id="popup"
      style="
          display: block;
          text-align: center;
          justify-content: center;
          align-items: center;
          background-image: url('https://img.freepik.com/free-vector/comic-style-background_23-2148827392.jpg?w=996&t=st=1716370950~exp=1716371550~hmac=28473cb4d064636d2b83294ef4025af993346013cd79e93ec24556f03b36bd11');
          background-size: cover; /* Optioneel: Zorgt ervoor dat de afbeelding de hele achtergrond bedekt */
          background-position: center; /* Optioneel: Centreert de achtergrondafbeelding */
        "
      class="popup"
    >
      <form action="/improvePokemon" method="post">
        <h1>
          Correct antwoord! Gefeliciteerd, je hebt <%= randomPokemon.name %>
          geraden.
        </h1>
        <img
          style="width: 200px; height: 200px"
          src="<%= randomPokemon.image %>"
          alt=""
        />
        <h2>
          Kies een stat om te verhogen: 
      
          <select
            style="
              height: 25px;
              font-size: large;
              border: 0;
              color: #3b4cca;
              font-weight: bolder;
              background-color: rgb(255, 255, 255, 0.01);
            "
            class="sort-select"
            name="typeOfImprove"
          >
            <option class="sort-option" value="defense">Defence</option>
            <option class="sort-option" value="attack">Attack</option>
          </select>
        </h2> 
        
      

        <button style="float: right" id="button">Bevestig</button>
      </form>
    </dialog>
  </div>
  <% } %>

  <div id="popupinfo" class="popup">
    <h2>pokemon raden</h2>
    <p>
      Pokemon raden is een <strong>klein spelletje</strong> waar je de naam van de pokemon moet raden. het leuke aan dit spelletje is 
      als je de pokemon juist raad kan je je buddy zijn <strong>statistieken verhogen</strong> met 1 punt. je kan kiezen waar je het punt in steekt, aanval of verdediging. veel succes!
    </p>
    <button  id="button" style="float: right;" onclick="closeinfo()">Close</button>
  </div>
  
  <div id="overlay-message" class="overlay"></div>

</main>
<script src="/javascript/guessPokemon.js" defer></script>
<%- include('partials/footer'); %>
