<%- include('partials/header'); %>
<main class="main-mypokemon" style="width: 100%; margin: auto">
  <h1 class="title"> mijn pokemons <button onclick="PopupInfo()"><h1><i class="bi bi-patch-question"></i></h1></button></h1>
  <section class="sort-pokemon">
    <form action="/myPokemons" method="get" class="fromMypokemon"> 
      <select class="sort-select" name="sortField">
          <option class="sort-option" value="mijnPokemons" <%= toonPokemons === 'mijnPokemons' ? 'selected' : '' %>>Mijn Pokémons</option>
          <option class="sort-option" value="allePokemons" <%= toonPokemons === 'allePokemons' ? 'selected' : '' %>>Alle Pokémons</option>
      </select>
      <button type="submit">Toon</button>
  </form>
  </section>
  <section class="compare">
    <section
      class="flex-container"
      style="width: 66%; height: 544px; overflow-x: hidden; overflow-y: auto"
    >
      <% if (toonPokemons === 'mijnPokemons') { %>
        <% for(let pokemon of playerPokemons) { %>
          <article class="pokemon" style="flex-basis: 25%">
            <p><%= pokemon.name %></p>
            <p>id: <%= pokemon.id %></p>
            <section>
              <a href="/pokemon/info/<%= pokemon.id %>">
                <img src="<%= pokemon.image %>" alt="img" style="scale: 1.3;"/>
              </a>
            </section>
          </article>
        <% } %>
      <% } else { %>
        <% for(let pokemon of pokemons) { %>
          <% if (playerPokemons.find(poke => poke.id === pokemon.id )) { %>
            <article class="pokemon" style="flex-basis: 25%;">
              <p><%= pokemon.name %></p>
              <p>id: <%= pokemon.id %></p>
              <section>
                <a href="/pokemon/info/<%= pokemon.id %>">
                  <img src="<%= pokemon.image %>" alt="img" style="scale: 1.3;"/>
                </a>
              </section>
            </article>
          <% } else { %>
            <article class="pokemon" style="flex-basis: 25%; filter: grayscale(1);">
              <p><%= pokemon.name %></p>
              <p>id: <%= pokemon.id %></p>
              <section>
                <a href="/pokemon/info/<%= pokemon.id %>">
                  <img src="<%= pokemon.image %>" alt="img" style="scale: 1.3;"/>
                </a>
              </section>
            </article>
          <% } %>
        <% } %>
      <% } %>
    </section>
    <% if (currentPokemon === undefined) { %>
    <article class="compare-item" style="margin-top: 0; margin-bottom: 0;         -webkit-animation: rotate-in-ver 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;" id="compare-item-1">
      <figure>
        <img src="/images/Question-mark.png" width="200" height="200" />
        <figcaption>
          <h2 style="color: transparent">?????</h2>
          <p>ID: ?</p>
          <p>Defense: ?</p>
          <p>Attack: ?</p>
          <p>Types: ?</p>
          <p>Max HP: ?</p>
        </figcaption>
      </figure>
    </article>
    <% } else { %>
    <article class="compare-item" style="margin-top: 0; margin-bottom: 0;         -webkit-animation: rotate-in-ver 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-ver 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;">
      <figure>
        <img src="<%= currentPokemon.image %>" width="200" height="200" />
        <figcaption>
          <h2><%= currentPokemon.name %></h2>
          <div style="display: flex; justify-content: center; margin: auto">
            <p style="width: 75%">Defense:</p>
            <div
              class="meter orange"
              style="width: 100%; margin: auto; margin-right: 10px"
            >
              <span id="Poke-1-defense"><%= currentPokemon.defense %></span>
              <script>
                document.getElementById("Poke-1-defense").style.width =
                  "<%= currentPokemon.defense %>%";
              </script>
            </div>
          </div>
          <div style="display: flex; justify-content: center; margin: auto">
            <p style="width: 75%">Attack:</p>
            <div
              class="meter"
              style="width: 100%; margin: auto; margin-right: 10px"
            >
              <span id="Poke-1-attack" style="width: 100%">
                <%= currentPokemon.attack %></span
              >
              <script>
                document.getElementById("Poke-1-attack").style.width =
                  "<%= currentPokemon.attack %>%";
              </script>
            </div>
          </div>
          <div style="display: flex; justify-content: center; margin: auto">
            <p style="width: 75%">Max HP:</p>
            <div
              class="meter red"
              style="width: 100%; margin: auto; margin-right: 10px"
            >
              <span id="Poke-1-maxHP" style="width: 100%">
                <%= currentPokemon.maxHP %></span
              >
              <script>
                document.getElementById("Poke-1-maxHP").style.width =
                  "<%= currentPokemon.maxHP %>%";
              </script>
            </div>
          </div>
          <div style="display: flex; justify-content: center; margin: auto">
            <p style="width: 75%">Types:</p>
            <div
              style="
                width: 100%;
                margin: auto;
                margin-right: 10px;
                display: flex;
                justify-content: space-around;
              "
            >
              <% for (let element of currentPokemon.types) { %>
              <div class="type-icon type-<%= element %>" href="">
                <%= element %>
              </div>
              <% } %>
            </div>
          </div>
        </figcaption>
      </figure>
    </article>
    <% } %>
  </section>

  <div id="popupinfo" class="popup">
    <h2>mijn pokemon</h2>
    <p>
      hier kan je al je <strong>gevangen</strong> pokemon terug vinden. je kan ook kiezen om alle pokemons te zien maar de genen dat je nog niet gevangen hebt
      staan in het grijs. je kan ook de <strong>bijnaam</strong> zien van je pokemon als je die hebt gegeven anders zal je niets zien. 
    </p>
    <button  id="button" style="float: right;" onclick="closeinfo()">Close</button>
  </div>
  
  <div id="overlay-message" class="overlay"></div>

</main>
<%- include('partials/footer'); %>
