<%- include('partials/header'); %>
<section>
    <div class="flex-container">
        <% for(let pokemon of playerPokemons) { %>
            <div>
                <img src="<%= pokemon.image %>" alt="">
                <a href="/"><%= pokemon.id %></a> 
                <a href="/"><%= pokemon.name %></a> 
                <a href="/"><%= pokemon.maxHP %></a>
            </div>
        <% } %>
    </div>
</section>
<%- include('partials/footer'); %>