<%- include('partials/header'); %>
<main style="margin-bottom: 25px; display: flex; flex-direction: column">
  <section class="flex-container-pokemon-info">
    <article style="display: flex; flex-direction: column">
      <h2 style="color: #3b4cca; margin-bottom: 0">
        <%= pokemonFind.name.toUpperCase() %>
      </h2>
      <% if (pokemonFind.nickname) { %>
      <p style="color: #3b4cca; margin-top: 0; margin-bottom: 0">
        Bijname : <%= pokemonFind.nickname %>
      </p>
      <% } %>
      <img style="width: 250px; height: 250px" src="<%= pokemonFind.image%>" />
      <% if (playerPokemons.find(poke => poke.id === pokemonFind.id)) { %>
      <form action="/" method="post">
        <section class="resultBattle">
          <input
            type="text"
            style="display: none"
            name="pokemonFind"
            value="<%= pokemonFind.id%>"
          />
          <div class="wins">
            <button type="submit" formaction="/increaseWins">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </button>
            wins : <%= pokemonFind.wins %>
            <button type="submit" formaction="/decreaseWins">
              <i class="bi bi-arrow-down-circle-fill"></i>
            </button>
          </div>
          <div class="losses">
            <button type="submit" formaction="/increaseLosses">
              <i class="bi bi-arrow-up-circle-fill"></i>
            </button>
            losses : <%= pokemonFind.losses %>
            <button type="submit" formaction="/decreaseLosses">
              <i class="bi bi-arrow-down-circle-fill"></i>
            </button>
          </div>
        </section>
      </form>
      <% } %>
    </article>
    <article style="display: flex; flex-direction: column">
      <h2 style="color: #3b4cca">Pokemon Stats</h2>
      <div><p>ID: <%= pokemonFind.id %></p></div>
      <div><p>Hoogte: <%= pokemonFind.height %></p></div>
      <div><p>Gewicht: <%= pokemonFind.weight %></p></div>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">Types:</p>
        <div
          style="
            width: 100%;
            margin: auto;
            margin-right: 10px;
            display: flex;
            justify-content: space-around;
          "
        >
          <% for (let element of pokemonFind.types) { %>
          <div class="type-icon type-<%= element %>" href="">
            <%= element %>
          </div>
          <% } %>
        </div>
      </div>
      <% if (pokemonFind.capturedPokemon) { %>
      <p class="capturedPokemon" style="color: #3b4cca; ">Pokemon gevangen <br> op: <%= pokemonFind.capturedPokemon %></p>
      <% } %>
    </article>
    <article style="display: flex; flex-direction: column">
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">VERDEDIGING</p>
        <div
          class="meter orange"
          style="width: 100%; margin: auto; margin-right: 10px"
        >
          <span id="Poke-1-defense"><%= pokemonFind.defense %></span>
          <script>
            document.getElementById("Poke-1-defense").style.width =
              "<%= pokemonFind.defense/2 %>%";
          </script>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">AANVAL</p>
        <div
          class="meter"
          style="width: 100%; margin: auto; margin-right: 10px"
        >
          <span id="Poke-1-attack" style="width: 100%">
            <%= pokemonFind.attack %></span
          >
          <script>
            document.getElementById("Poke-1-attack").style.width =
              "<%= pokemonFind.attack/2 %>%";
          </script>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">MAX HP</p>
        <div
          class="meter red"
          style="width: 100%; margin: auto; margin-right: 10px"
        >
          <span id="Poke-1-maxHP" style="width: 100%">
            <%= pokemonFind.maxHP %></span
          >
          <script>
            document.getElementById("Poke-1-maxHP").style.width =
              "<%= pokemonFind.maxHP/2 %>%";
          </script>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">SPECIALE AANVAL</p>
        <div
          class="meter purple"
          style="width: 100%; margin: auto; margin-right: 10px"
        >
          <span id="Poke-1-special-attack" style="width: 100%">
            <%= pokemonFind.special_attack %></span
          >
          <script>
            document.getElementById("Poke-1-special-attack").style.width =
              "<%= pokemonFind.special_attack/2 %>%";
          </script>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">SPECIALE  VERDEDIGING</p>
        <div
          class="meter white"
          style="width: 100%; margin: auto; margin-right: 10px"
        >
          <span id="Poke-1-special-defense" style="width: 100%">
            <%= pokemonFind.special_defense %></span
          >
          <script>
            document.getElementById("Poke-1-special-defense").style.width =
              "<%= pokemonFind.special_defense/2 %>%";
          </script>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: auto;
          width: 100%;
        "
      >
        <p style="width: 75%">SNELHEID</p>
        <div
          class="meter blue"
          style="width: 100%; margin: auto; margin-right: 10px"
        >
          <span id="Poke-1-speed" style="width: 100%">
            <%= pokemonFind.speed %></span
          >
          <script>
            document.getElementById("Poke-1-speed").style.width =
              "<%= pokemonFind.speed/2 %>%";
          </script>
        </div>
      </div>
    </article>
  </section>
  <section class="flex-container-pokemon-info">
    <% if (playerPokemons.find(pokemon => pokemon.id === pokemonFind.id)) { %>
    <article
      style="
        display: flex;
        flex-direction: column;
        width: 49%;
        margin-top: 25px;
        margin-bottom: 0;
        border: none;
        background-color: transparent;
      "
    >
      <h3 style="margin-top: 0; background-color: green">Gevangen</h3>
      <form action="/setPokemonToCatch" method="post">
        <button
          type="submit"
          onclick="closePokeball()"
          class="pokeball"
          name="setPokemonToCatch"
          value="<%= pokemonFind.id %>"
          style="
            z-index: 1000;
            animation: none;
            -webkit-animation: bounce-in-top 1.1s both;
            animation: bounce-in-top 1.1s both;
            background: radial-gradient(
                white 16px,
                black 17px 18px,
                white 19px 24px,
                black 25px 32px,
                transparent 33px
              ),
              linear-gradient(
                to bottom,
                green 0 80px,
                black 81px 96px,
                white 97px 100%
              );
          "
        ></button>
      </form>
    </article>
    <% } else { %>
    <article
      style="
        display: flex;
        flex-direction: column;
        width: 49%;
        margin-top: 25px;
        margin-bottom: 0;
        border: none;
        background-color: transparent;
      "
    >
      <h3 style="margin-top: 0">Niet gevangen</h3>
      <form action="/setPokemonToCatch" method="post">
        <button
          type="submit"
          class="pokeball"
          style="
            z-index: 1000;
            animation: none;
            -webkit-animation: bounce-in-top 1.1s both;
            animation: bounce-in-top 1.1s both;
          "
          name="setPokemonToCatch"
          value="<%= pokemonFind.id %>"
        ></button>
      </form>
    </article>
    <% } %> <% if (evolutionChainPokemons) { %>
    <article style="margin-top: 25px">
      <h2 style="color: #3b4cca; margin-bottom: 0">Evolutiepad</h2>
      <section
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
        "
      >
        <% if (evolutionChainPokemons.length > 4) { %> <% for(let i = 0; i < 4;
        i++) { %>
        <a href="/pokemon/info/<%= evolutionChainPokemons[i].id %>">
          <img
            style="width: 175px; height: 175px"
            src="<%= evolutionChainPokemons[i].image %>"
          />
        </a>
        <% if (i < 4 - 1) { %>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-right"
          aria-hidden="true"
        ></i>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></i>
        <% } %> <% } %> <% } else { %> <% for(let i = 0; i <
        evolutionChainPokemons.length; i++) { %>
        <a href="/pokemon/info/<%= evolutionChainPokemons[i].id %>">
          <img
            style="width: 175px; height: 175px"
            src="<%= evolutionChainPokemons[i].image %>"
          />
        </a>
        <% if (i < evolutionChainPokemons.length - 1) { %>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-right"
          aria-hidden="true"
        ></i>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></i>
        <% } %> <% } %> <% } %>
      </section>
    </article>
    <% } else { %>
    <article style="margin-top: 25px">
      <h2 style="color: #3b4cca; margin-bottom: 0">Evolutiepad</h2>
      <section
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
        "
      >
        <img
          style="width: 175px; height: 175px"
          src="<%= pokemons[0].image%>"
        />
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-right"
          aria-hidden="true"
        ></i>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></i>
        <img
          style="width: 175px; height: 175px"
          src="<%= pokemons[1].image%>"
        />
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-right"
          x
          aria-hidden="true"
        ></i>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></i>
        <img
          style="width: 175px; height: 175px"
          src="<%= pokemons[2].image%>"
        />
      </section>
    </article>
    <% } %>
  </section>
  <% if (message) { %>
  <div id="overlay-battle-message" style="display: block" class="overlay">
    <dialog id="popup-battle-message" style="display: block" class="popup">
      <h2><%= message %></h2>
      <button
        style="float: right"
        onclick="closePopupMessageBattle()"
        id="button"
      >
        Close
      </button>
    </dialog>
  </div>
  <% } %>
</main>
<%- include('partials/footer'); %>
