<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TYJ</title>
  </head>
  <body>
    <%- include('partials/header'); %>
    <% if (message) { %>
      <div class="message">
        <p>Je hebt X kansen om een pokemon te vangen</p>
      </div>
    <% } %>
    <section>
      <img src="<%= pokemonFind.image %>" alt="" />
      <a href="/"><%= pokemonFind.id %></a>
      <a href="/"><%= pokemonFind.name %></a>
      <a href="/"><%= pokemonFind.height %></a>
      <a href="/"><%= pokemonFind.weight %></a>
      <a href="/"><%= pokemonFind.types %></a>
      <a href="/"><%= pokemonFind.maxHP %></a>
      <form action="/catch" method="post">
        <input type="hidden" value="<%= pokemonFind.id %>" name="pokemon" />
        <button type="submit">Vangen</button>
      </form>
    </section>
  </body>
</html>

<%- include('partials/footer'); %>
