<%- include('partials/header'); %>
<main class="pokedex-main">
  <section class="sort-pokemon">
  <form action="/pokedex" method="get"> <!-- Verander de action naar /pokedex -->
    <select class="sort-select" name="sortField">
        <option class="sort-option" value="name" <%= sortField === 'name' ? 'selected' : '' %>>Name</option>
        <!-- Voeg extra opties toe voor andere sorteerwaarden indien nodig -->
    </select>
    <select class="sort-select" name="sortDirection">
        <option class="sort-option" value="asc" <%= sortDirection === 'asc' ? 'selected' : '' %>>Ascending</option>
        <option class="sort-option" value="desc" <%= sortDirection === 'desc' ? 'selected' : '' %>>Descending</option>
    </select>
    <button type="submit">Sort</button>
</form>
</section>
  <section class="flex-container" style="  
  width: 90%;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;">
    <% for(let pokemon of pokemons) { %>
    <article class="pokemon">
      <p><%= pokemon.name %></p>
      <section>
        <img src="<%= pokemon.image %>" alt="img" />
      </section>
      <a href="/pokemon/info/<%= pokemon.id %>">
        <button type="submit">INFO</button>
      </a>
    </article>
    <% } %>
  </section>
</main>
<%- include('partials/footer'); %>
