<%- include('partials/header'); %>
<main style="margin-bottom: 25px; display: flex; flex-direction: column">
  <section class="flex-container-pokemon-info">
    <article style="display: flex; flex-direction: column">
      <h2 style="color: #3b4cca"><%= pokemonFind.name.toUpperCase() %></h2>
      <img style="width: 250px; height: 250px" src="<%= pokemonFind.image%>" />
    </article>
    <article style="display: flex; flex-direction: column">
      <h2 style="color: #3b4cca">Pokemon Stats</h2>
      <p>ID: <%= pokemonFind.id %></p>
      <p>Hoogte: <%= pokemonFind.height %></p>
      <p>Gewicht: <%= pokemonFind.weight %></p>
      <div style="display: flex; justify-content: center; margin: auto">
        <p style="width: 75%">Types:</p>
        <div
          style="
            width: 100%;
            margin: auto;
            margin-right: 10px;
            display: flex;
            justify-content: space-around;
          "
        >
          <% for (let element of pokemonFind.types) { %>
          <div class="type-icon type-<%= element %>" href="">
            <%= element %>
          </div>
          <% } %>
        </div>
      </div>
      <p>Max HP: <%= pokemonFind.maxHP %></p>
    </article>
  </section>
  <section class="flex-container-pokemon-info">
    <article style="margin-top: 25px">
      <h2 style="color: #3b4cca; margin-bottom: 0">Evolutiepad</h2>
      <section
        style="display: flex; justify-content: center; align-items: center"
      >
        <img
          style="width: 175px; height: 175px"
          src="<%= pokemons[0].image%>"
        />
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-right"
          aria-hidden="true"
        ></i>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></i>
        <img
          style="width: 175px; height: 175px"
          src="<%= pokemons[1].image%>"
        />
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-right"
          x
          aria-hidden="true"
        ></i>
        <i
          style="font-size: 50px; color: #3b4cca"
          class="fa fa-arrow-down"
          aria-hidden="true"
        ></i>
        <img
          style="width: 175px; height: 175px"
          src="<%= pokemons[2].image%>"
        />
      </section>
    </article>
  </section>
</main>
<%- include('partials/footer'); %>
