<%- include('partials/header'); %>
<section class="flex-container">
  <article class="compare-item">
    <figure>
      <img src="<%= pokemons[0].image %>" alt="" />
      <figcaption>
        <a href="/"><%= pokemons[0].id %></a>
        <a href="/"><%= pokemons[0].name %></a>
        <a href="/"><%= pokemons[0].maxHP %></a>
      </figcaption>
    </figure>
  </article>
  <article class="compare-item">
    <figure>
      <img src="<%= pokemons[1].image %>" alt="" />
      <figcaption>
        <a href="/"><%= pokemons[1].id %></a>
        <a href="/"><%= pokemons[1].name %></a>
        <a href="/"><%= pokemons[1].maxHP %></a>
      </figcaption>
    </figure>
  </article>
  <button type="submit">Vergelijken</button>
</section>
<%- include('partials/footer'); %>
